<hr >
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 bg-light">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">LootersBox.com</h5>
        <p>LootersBox.com is the best deal website in India, online coupons in India because you are with us. Our experts listed here thousand of active discount coupons and promo codes for online shopping in the various category as Grocery, Mobile, Fashion, Home Appliance, Recharge or more. Now save money immediately with India's best discount coupons website With these online shopping coupons, discount codes, and vouchers.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a routerLink="/about" class="btn">About us</a>
            </p>
          </li>  
          
          <li>
            <p>
              <a routerLink="/disclaimer" class="btn">Disclaimer</a>
            </p>
          </li>  

          <li>
            <p>
              <a routerLink="/privacy-policy" class="btn">Privacy Policy</a>
            </p>
          </li>  

          <li>
            <p>
              <a routerLink="/terms-and-conditions" class="btn">Terms & Conditions</a>
            </p>
          </li> 
          
          <li>
            <p>
              <a routerLink="/contact" class="btn">Contact us</a>
            </p>
          </li> 
          
        </ul>

      </div>
      <!-- Grid column -->

      
      <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

              <!-- Social buttons -->
              <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
      
              <!--telegram -->
              <a class="" style="color: initial;" href="https://chat.whatsapp.com/E8xFNPxQdp3BhL1KOSZ4WB">
                <!-- <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i> -->
                <i class="fa fa-whatsapp fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
              </a>
      
      
            </div>
    

    </div>
    <!-- Grid row -->

<!-- Grid row -->
<p><b>Disclaimer: As an Amazon Associate www.lootersbox.com earn from qualifying purchases</b></p>
<p><small>Deals & Offer Posted here are for Information purpose only and the user making transaction should carefully read Information and Offer's Terms & Condition on Actual offer site/store before making any Transaction. Offer Posted here are just information and does not constitute any Legal contractual right for User and user cannot use the Same for Legal purpose.</small></p>
<p><b>All content, trademarks and logos are copyright of their respective owners.</b></p>
<p>By Using This Site, you Agree to the Terms of Service and Privacy Policy of lootersbox</p>
</div>
<!-- Footer Links -->

  <!-- Copyright -->
  <div style="text-align: center;">
    All trademarks and logos are their respective owners
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> LootersBox.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
